<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IzChat | Chat</title>
</head>
<body>

    <header>
        <div class="chat-header">
            <a href="/c/" class="chat-back"><</a>
            <!-- <img src="#" alt="ChatImage"> -->
            <a href="#" class="chat-name"><%=chatName%></a>
        </div>
    </header>

    <main>

        <div class="chat-main-div">

        </div>

    </main>
    
    <sender>
        <div>
            <form action="/c/sendMessage" method="post">
                <input type="text" name="message" id="message">
                <input type="submit" value="&#187;">
            </form>
        </div>
    </sender>

</body>
</html>