<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Login</title>
</head>
<body class="dark-body">

    <a href="/" class="back"><</a>
    
    <form action="/a/login/" method="post" class="login-form">
        <!-- <p class="wrong-credentials">Wrong password / username</p> -->
        <input type="text" class="auth-input" name="username" placeholder="Username" id="username"><br>

        <input type="password" class="auth-input" name="password" placeholder="Password" id="pwd"><br>

        <input type="submit" value="Login" class="auth-submit"><br>

        <a href="/a/register" class="text-link">No account: Register</a><br><br>
        <a href="/a/lostPwd" class="text-link">Lost password: Reset</a>
    </form>

</body>
</html>