<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Register</title>
</head>
<body class="dark-body">

    <a href="/" class="back"><</a>

    <form action="/a/register" method="post" class="login-form">

        <input type="email" placeholder="E-Mail" name="email" id="email" class="auth-input">

        <input type="text" placeholder="Username" name="username" id="username" class="auth-input">

        <input type="password" placeholder="Password" name="password" id="password" class="auth-input">

        <!--TODO: second password request-->

        <input type="submit" value="Register" class="auth-submit"><br>

        <a href="/a/login" class="text-link">Got an account: LogIn</a><br><br>

    </form>

</body>
</html>