<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>User</title>
</head>
<body class="user-body">
    
    <div>

        <a href="/u/" class="back"><</a>


        <!-- TODO User Page incl. Image, settings -->

        <!-- <form action="/u/profileImage" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <input type="submit" value="Upload">
        </form> -->

        <div class="user-card">
            <img src="../../<%=profileImage%>" class="user-image" alt="Profile Image" width="125px" height="125px">
            <h3 class="user-card-headline">Username:</h3>
            <p class="user-data"><%=username%></p>

            <h3 class="user-card-headline">E-Mail:</h3>
            <p class="user-data"><%=email %></p>
        </div>


    </div>

    <!-- <a href="/a/logout/" class="button-blue">Logout</a> -->
</body>
</html>