html{
    min-height: 100%;
} 
.dark-body{
    background-color: #212121;
    color: white;
    padding: 0px;
    height: 75vh;
    padding: 0;
    margin: 0;
}

.auth-input{
    background-color: #212121;
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
}

.auth-input:focus{
    border-bottom: 2.5px solid grey;
}

.auth-input:hover{
    border-bottom: 2.5px solid grey;
}

.auth-submit{
    background-color: #2d90a8;
    color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: none;

}

.auth-submit:hover{
    background-color: #245e8a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.text-link{

    color: grey;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: medium;
}

.back{
    font-family: consolas;
    color: grey;
    font-size: 55px;
    margin-left: 1vh;
    text-decoration: none;
    position: relative;
}

.login-form{
    width: min-content;
    height: min-content;
    margin: auto;
    margin-top: 25vh;
}

.search-input{
    background-color: 	#212529;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid grey;
    margin-right: 1vh;
    margin-left: 1vh;
}

.wrong-credentials{
    color: #782a24;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}