html{
    min-height: 100%;
} 
.dark-body{
    background-color: #212121;
    color: white;
    padding: 0px;
    height: 75vh;
    padding: 0;
    margin: 0;
}

.auth-input{
    background-color: #212121;
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-top: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
}

.auth-input:focus{
    border-bottom: 2.5px solid grey;
}

.auth-input:hover{
    border-bottom: 2.5px solid grey;
}

.auth-submit{
    background-color: #2d90a8;
    color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: none;

}

.auth-submit:hover{
    background-color: #245e8a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.text-link{

    color: grey;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: medium;
}

.back{
    font-family: consolas;
    color: grey;
    font-size: 55px;
    margin-left: 1vh;
    text-decoration: none;
    position: relative;
}

.login-form{
    width: min-content;
    height: min-content;
    margin: auto;
    margin-top: 25vh;
}

.search-input{
    background-color: 	#212529;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid grey;
    margin-right: 1vh;
    margin-left: 1vh;
}

.wrong-credentials{
    color: #782a24;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.button-blue{
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-top: 100px;
    position: absolute;
    color: lightgrey;
}

.user-card{
    background-color: #212121;
    color: white;
    padding: 6vh;
    width: fit-content;
    border-radius: 2vh;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
}

.user-card-headline{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.user-data{
    font-family: Arial, Helvetica, sans-serif;
}

.user-image{
    border-radius: 100%;
}

.user-body{
    background-color: #3f3f3f;
}

main{
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #141414;
}

.chat-ul{
    list-style: none;
    background-color: #141414;
    width: 100%;
    padding: 6vh;
}

.chat-li{
    border: lightgray 3px solid;
    border-radius: 10px;
    margin-top: 4vh;
    width: 90%;
    margin-left: 5%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.chat-li:hover{
    padding: 0.25vh;
    margin-left: 3%;
    width: 94%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.chat-a{
    text-decoration: none;
    color: white;
    padding: 2vh;
    padding-left: 4vh;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.chat-a:hover{
    color: white;
}

.chats-headline{
    color: white;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    text-underline-offset: 0.75vh;
}

.chats-open-arrow{
    text-decoration: none;
    color: white;
    font-size: 4vh;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 4vh;
} 

.chats-open-arrow:hover{
    color: lightgray;
}

.body-chats{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #141414;
}